body {
    text-align: center;
    background-color: #95a5a6;
}

p {
    margin: 0px auto;
}

input {
    border-radius: 10px;
    text-align: center;
}

td,
th {
    border: 2px solid white;
    padding: 15px 0px;
    text-align: center;
    font-family: sans-serif;
    background: transparent;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    height: auto;
    display: none;
}

input {
    width: 50%;
}

#moy {
    width: 30%;
}

img {
    margin: 50px;
    /*width: 600px;
    height: 600px;*/
}

#Title,
img {
    display: none;
}

#welcome{
    margin: 5rem;
    font-size: 3rem;
}

#back {
    position: fixed;
    left: 20px;
    display: none;
}

#buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    display: flex;
    flex-direction: column;
}

button:hover{
    cursor: pointer;
}

#buttons button {
    padding: 10px;
    margin: 10px;   
}

#download{
    position: absolute;
    bottom: 10%;
    right: 8%;
}